<script>
  import "lazysizes";

  export let src;
  export let alt;
  export let style;
  export let widths = [150, 600, 1600];

  // class is a reserved word in Svelte
  // so we need to rename it to classProps
  let classProps = "";
  export { classProps as class };

  function srcWidth(width) {
    return src
      .replace("uploads/", `uploads/${width}_`)
      .replace(/\.\w+$/, ".jpg");
  }
</script>

{#if !src.match(/\.(svg|gif|webp)$/i)}
  <img
    alt={alt != null ? alt : " "}
    class={classProps + " lazyload"}
    {style}
    data-src={srcWidth(widths[2])}
    data-sizes="auto"
    data-srcset={`
      ${srcWidth(widths[0])} ${widths[0]}w,
      ${srcWidth(widths[1])} ${widths[1]}w,
      ${srcWidth(widths[2])} ${widths[2]}w,
    `}
    src={srcWidth(widths[0])}
  />
{:else}
  <img {src} alt={alt != null ? alt : " "} class={classProps} {style} />
{/if}
